- title "Collections"
%ul#collections
  - @collections.each do |collection|
    %li
      = link_to collection.title, collection_path(collection), class: 'title'
      .description= collection.description
