.page-inner
  - title 'User Profile'
  .page-header
    %h2 Account Management
  .page-content

    = link_to "Edit My Details", edit_user_registration_path, :class => "btn"
    = link_to "Change My Password", users_edit_password_path, :class => "btn"
