-title "Edit Name"
.page-inner
  .page-header.record
    %h2 Edit Name
  .page-content
    = render partial: 'form', locals: {name: @name, papyrus: @papyrus}
    - if can? :destroy, @name
      = form_for @name, url: papyrus_name_path(@papyrus, @name), html: {method: :delete} do |f|
        = f.submit 'Delete', confirm: 'Are you sure you want to delete this name?'
