%p A papyrus access request has been made with the following details:
%p
  Requested by: #{@user.full_name}
  %br/
  Email: #{@user.email}
  %br/
  Requesting access to: #{@papyrus.inventory_number}
%p You can view unapproved access requests here: #{access_request_url(@access_request)}
