%p Hello #{@user.email},
%p Someone has requested a link to change your password on the Macquarie Papyri site. However your account is not active so you cannot reset your password.
%p Please contact the Macquarie Papyri team for further information.
