- if target.errors.any?
  #error_explanation.alert-error
    %h3 The record could not be saved
    .notification{:id => "*.errors"}
      %ul
        - target.errors.full_messages.each do |msg|
          %li= msg
