- title 'About'
.page-inner
  .page-header
    %h2 About Us
  .page-content
    %p
      The Museum of Ancient Cultures at Macquarie University, Sydney holds some
      900 ancient papyri and related items. The core of the collection, now the largest
      in Australia, was built from an initiative of Edwin Judge (the inaugural Professor
      of Ancient History at Macquarie) in 1972 and was assembled over the following
      decade. A number of scholars have since worked on these papyri, and it is a pleasure
      to acknowledge the special contribution of Stuart Pickering. The 
      %a{:href => "http://www.mq.edu.au/research/centres_and_groups/ancient_cultures_research_centre/research/the_papyrus_collection/the_macquarie_papyri_research_and_development_committee/"} Macquarie Papyri Research and Development Committee 
      was established in January 2008 to oversee (among other objectives) the systematic 
      publication of the collection, of which only a few pieces had previously been appeared.

    %p
      This website aims to facilitate access to and understanding of the collection, both
      for professional researchers and those with a general interest in the ancient world.
      It provides metadata and (at least) thumbnail images for all items in the collection.
      Registered researchers can apply for access to high resolution images of texts to assist
      analysis aimed at publication.

    %p
      Most of our papyri are written in Greek, but there are also a number in other
      languages and scripts, including Hieroglyphic, Hieratic, Demotic, and Coptic
      (Egyptian), and Hebrew, Latin, and Old Nubian. Some are obvious treasures, such as
      those glimpsed in the slideshow on the front page of the site—a fragment of the New
      Testament book of Acts, a Coptic codex of ritual power (on vellum), a beautifully
      preserved Demotic letter, and a fragment of a Sibylline oracle. Many others are
      fragments. One of our goals in publishing details of the material online is to support
      the identification of direct matches or indirect links with items in other collections
      around the world. Brilliant detective work by Willy Clarysse and Mark Depauw (from
      Leuven) and by Stuart Pickering has already established links with various externally-
      held papyri. We are aware of relationships with at least the collections in Cologne,
      Duke, and Milan. It is hoped that the imaging of our collection will lead to further
      exciting finds and improved readings of texts.

    %p
      The website is funded by the 
      %a{:href => "http://ands.org.au/"} Australian National Data Service 
      and Macquarie University and has arisen from the work of members of the Papyri Committee,
      especially Malcolm Choat, Rosalie Cook, Trevor Evans, and Karl Van Dyke. The
      metadata platform and web application has been constructed by&nbsp; 
      %a{:href => "http://www.intersect.org.au"}> Intersect
      \. The source code has been made open source and it is available
      %a{:href => "https://github.com/IntersectAustralia/dc12c"}
        here
      in github.

    %p
      For further information on the Macquarie papyri contact the Chair of the Papyri
      Committee, Trevor Evans (trevor.evans@mq.edu.au)
