- title 'About'
.page-inner
  .page-header
    %h2 About
  .page-content
    %div
      The about page content goes here

:javascript
  $('#slides').slides({
    play: 8000,
    autoHeight: true,
    slideSpeed: 2000,
    slideEasing: "easeInOutQuad"
  });
