- title 'About'
.page-inner
  .page-header
    %h2 Copyright Notification
  .page-content
    %p
      As a user of the Macquarie Papyri website, you agree to abide by the conditions set out under the Copyright Act 1968. Apart 
      from any fair dealing permitted under the Copyright Act 1968, no part of the images and information can be reproduced, stored
      in a retrieval system or transmitted by any means electronic, mechanical, recorded or otherwise, without the prior permission
      of Macquarie University.
    %p
      The Macquarie Papyri website has been designed for research and study purposes only. Any works or information that you wish to 
      reproduce please apply in writing to the Chair of the Papyri Committee, Trevor Evans (trevor.evans@mq.edu.au)
      

