<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.stoa.org/epidoc/schema/latest/tei-epidoc.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>${type_of_text}</title>
            <!-- ALL NAMES WITH ROLE = AUT -->
              <author>${author.name}</author>
         </titleStmt>
         <publicationStmt>
            <authority>APIS</authority>
            <idno type="apisid">macquarie.apis.${id}</idno>
            <idno type="MQTNumber">${mqt_number}</idno>
         </publicationStmt>
         <sourceDesc>
            <msDesc>
               <msIdentifier>
                  <idno type="invNo">${inventory_number}</idno>
               </msIdentifier>
               <msContents>
                  <summary>${summary}</summary>
                  <msItemStruct>
                     <note type="general">Location: Macquarie Musseum, ${physical_location}</note>
                     IF ONE language
                       <textLang mainLang="${language.code}">${language.name}</textLang>
                     ELSE
                       <!-- FROM NAMES -->
                       <textLang otherLangs="${language.code}">${language.name}</textLang>
                       <!-- end -->
                     ENDIF
                  </msItemStruct>
               </msContents>
               <physDesc>
                  <objectDesc>
                     <supportDesc>
                        <support>${material} ${dimensions}</support>
                        <condition>
                           <ab type="conservation">${conservation_note}</ab>
                           <ab type="preservation">${preservation_note}</ab>
                           <ab type="other">${other_characteristics}</ab>
                        </condition>
                     </supportDesc>
                     <layoutDesc>
                        <layout>
                           <ab type="lines">${lines_of_text}</ab>
                           <ab type="recto-verso">${recto_verso_note}</ab>
                        </layout>
                     </layoutDesc>
                  </objectDesc>
                  <handDesc>
                     <p>${paleographic_description}</p>
                  </handDesc>
               </physDesc>
               IF date_from OR date_to OR origin_details OR names OR source_of_acquisition
               <history>
                  <origin>
                     <origDate notBefore="${date_from}" notAfter="${date_to}">${FORMATTED DATE} ${date_note}</origDate>
                     <origPlace>${origin_details}</origPlace>
                     <!-- FROM NAMES -->
                      <persName type="${name.role}">${name.name}</persName>
                     <!-- end -->
                  </origin>
                  IF source_of_acquisition
                  <provenance>
                     <p>${source_of_acquisition}</p>
                  </provenance>
                  ENDIF
               </history>
               END
            </msDesc>
         </sourceDesc>
      </fileDesc>
      IF keywords OR genres
      <encodingDesc>
         <classDecl>
            <taxonomy xml:id="macquarie">
               <desc>Macquarie keywords are controlled locally at the institution level. They are not necessarily consistent.</desc>
            </taxonomy>
         </classDecl>
      </encodingDesc>
      ENDIF
      IF languages OR keywords OR genres
      <profileDesc>
         IF languages
         <langUsage>
            <!-- FROM NAMES -->
               <language ident="${language.code}">${language.name}</language>
            <!-- end -->
         </langUsage>
         ENDIF
         IF keywords OR genres
         <textClass>
            <keywords scheme="#macquarie">
               <!-- WE EXPLIT KEYWORDS USING \n OR SIMILAR -->
                 <term>${keyword}</term>
               <!-- end -->
               <!-- WE ITERATE THROUGH GENRES -->
                 <term type="genre_form">${genre.name}</term>
               <!-- end -->
            </keywords>
         </textClass>
         ENDIF
      </profileDesc>
      ENDIF
   </teiHeader>
   <text>
      <body>
         IF original_text
         <div type="textpart">
            <ab>${original_text}</ab>
         </div>
         ENDIF
         IF translation
         <div type="translation">
            <ab>${translation}</ab>
         </div>
         ENDIF
         <div type="bibliography" subtype="citations">
            IF publications
            <listBibl>
               <bibl>${publications}</bibl>
            </listBibl>
            <p>
            ENDIF
            <ref target="${papyrus_url}">Original record</ref>.</p>
         </div>
      </body>
   </text>
</TEI>

