%table{id: table_id}
  %thead
    %tr
      %th MQT Number
      %th Inventory Number
      %th User requesting access
      %th Date requested
  %tbody
    - requests.each do |access_request|
      %tr{class: cycle("field_bg", "field_nobg")}
        %td= link_to access_request.papyrus.formatted_mqt_number, access_request_path(access_request)
        %td= access_request.papyrus.inventory_number
        %td= access_request.user.email
        %td= access_request.formatted_date_requested
