%table{id: table_id}
  %thead
    %tr
      %th MQT Number
      %th Inventory ID
      %th User requesting access
      %th Date requested
  %tbody
    - requests.each do |access_request|
      %tr
        %td= link_to access_request.papyrus.formatted_mqt_number, access_request_path(access_request)
        %td= access_request.papyrus.inventory_id
        %td= access_request.user.email
        %td= access_request.formatted_date_requested
