- title "Approved Access Requests"
.page-inner
  .page-header
    %h2 Approved Requests
  .page-content
    = render partial: 'table', locals: {table_id: 'pending_requests', requests: @approved_access_requests}
    = link_to "Back", admin_index_path, class: 'btn'
