.page-inner
  .page-header
    %h2 Search Results
  .page-content
    - if @papyri.empty?
      No Results Found
    - else
      = render partial: 'table', locals: {table_id: 'search_results', papyri: @papyri}
      %br
      = will_paginate @papyri
