-title "Edit Image"
.page-inner
  .page-header.record
    %h2 Edit Image
  .page-content
    = render partial: 'form', locals: {image: @image, papyrus: @papyrus, is_edit: true}
    - if can? :destroy, @image
      = form_for @image, url: papyrus_image_path(@papyrus, @image), html: {method: :delete} do |f|
        .form-actions
          = f.submit 'Delete', confirm: 'Are you sure you want to delete this image?', class: "btn red"
